# **CONTEXT**

## **Setup: Import modules and dataset** (product data)

In [10]:
import pandas as pd
df = pd.read_csv('X_train.csv', index_col=0) # Note: We can later set the productid as index 
df.head()

,designation,description,productid,imageid
0,Olivia: Personalisiertes Notizbuch / 150 Seite...,NaN,3804725264,1263597046
1,Journal Des Arts (Le) N° 133 Du 28/09/2001 - L...,NaN,436067568,1008141237
2,Grand Stylet Ergonomique Bleu Gamepad Nintendo...,PILOT STYLE Touch Pen de marque Speedlink est ...,201115110,938777978
3,Peluche Donald - Europe - Disneyland 2000 (Mar...,NaN,50418756,457047496
4,La Guerre Des Tuques,Luc a des id&eacute;es de grandeur. Il veut or...,278535884,1077757786

In [16]:
# Display basic information about the dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 84916 entries, 0 to 84915
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   designation  84916 non-null  object
 1   description  55116 non-null  object
 2   productid    84916 non-null  int64
 3   imageid      84916 non-null  int64
dtypes: int64(2), object(2)
memory usage: 3.2+ MB
None

**Question:** What is the size of the original dataset for training?

In [11]:
# Get shape of DataFrame in order to get number of rows (products) and columns (attributes)
df.shape

rows = df.shape[0]
cols = df.shape[1]

print(f'The original dataset contains {rows:,} products with {cols} attributes:')

# Get names of columns for better understanding of attributes
column_names = df.columns

for nr, cn in enumerate(column_names, start=1): # nr as in "number", cn as in "column name"
    print(f'{nr}. {cn}')

The original dataset contains 84,916 products with 4 attributes:
1. designation
2. description
3. productid
4. imageid

**Question:** Are there any missing values (NaN)?

In [12]:
print('The original data set has missing descriptions:')

df.isna().any()

The original data set has missing descriptions:

designation    False
description     True
productid      False
imageid        False
dtype: bool

**Question:** How many missing values are we looking at?

In [13]:
nans = df.isna().sum().sum()
print(f'The original data set has at total of {nans:,} missing values.')

df.isna().sum()

The original data set has at total of 29,800 missing values.

designation        0
description    29800
productid          0
imageid            0
dtype: int64

# Viel Spaß!

In [ ]:
target = pd.read_csv('y_train.csv', index_col=0) 
print(target.info())
target.head(50)

<class 'pandas.core.frame.DataFrame'>
Index: 84916 entries, 0 to 84915
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   prdtypecode  84916 non-null  int64
dtypes: int64(1)
memory usage: 1.3 MB
None

    prdtypecode
0            10
1          2280
2            50
3          1280
4          2705
5          2280
6            10
7          2522
8          1280
9          2582
10         1560
11         1560
12         1281
13         1920
14         1560
15         2522
16         2403
17         2522
18         1140
19         2280
20         2583
21         1280
22         1180
23         1140
24         1300
25         2462
26         1280
27         2522
28         2280
29         1160
30         2060
31           40
32         1560
33         2522
34           40
35         2060
36         2060
37         1281
38         1920
39         2583
40           60
41         1180
42         2522
43         1281
44         2280
45         1920
46           10
47           40
48         1160
49         1280