# **CONTEXT**

## **Setup: Import modules and dataset** (product data)

In [2]:
import pandas as pd
df = pd.read_csv('X_train.csv', index_col=0) # Note: We can later set the productid as index 
df.head()

,designation,description,productid,imageid
0,Olivia: Personalisiertes Notizbuch / 150 Seite...,NaN,3804725264,1263597046
1,Journal Des Arts (Le) N° 133 Du 28/09/2001 - L...,NaN,436067568,1008141237
2,Grand Stylet Ergonomique Bleu Gamepad Nintendo...,PILOT STYLE Touch Pen de marque Speedlink est ...,201115110,938777978
3,Peluche Donald - Europe - Disneyland 2000 (Mar...,NaN,50418756,457047496
4,La Guerre Des Tuques,Luc a des id&eacute;es de grandeur. Il veut or...,278535884,1077757786

**Question:** What is the size of the original dataset for training?

In [3]:
# Get shape of DataFrame in order to get number of rows (products) and columns (attributes)
df.shape

rows = df.shape[0]
cols = df.shape[1]

print(f'The original dataset contains {rows:,} products with {cols} attributes:')

# Get names of columns for better understanding of attributes
column_names = df.columns

for nr, cn in enumerate(column_names, start=1): # nr as in "number", cn as in "column name"
    print(f'{nr}. {cn}')

The original dataset contains 84,916 products with 4 attributes:
1. designation
2. description
3. productid
4. imageid

**Question:** Are there any missing values (NaN)?

In [4]:
print('The original data set has missing descriptions:')

df.isna().any()

The original data set has missing descriptions:

designation    False
description     True
productid      False
imageid        False
dtype: bool

**Question:** How many missing values are we looking at?

In [8]:
nans = df.isna().sum().sum()
print(f'The original data set has at total of {nans:,} missing values.')

df.isna().sum()

The original data set has at total of 29,800 missing values.

designation        0
description    29800
productid          0
imageid            0
dtype: int64

# Viel Spaß!